.root {
  font-family: "Times New Roman" !important;
  color: black !important;
}

.table {
  width: 100%;
}

.table,
.table th,
.table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0 0.1in;
}

.table td {
  vertical-align: center;
}

.table th {
  text-align: center;
}
