.root {
  font-family: "Times New Roman" !important;
  color: black !important;
}

.table,
.table th,
.table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: .015in 0.08in;
}

.table th {
  text-align: left;
}
