.paperGrid {
  background-image:
    linear-gradient(
      color-mix(in srgb, var(--mantine-color-white) 6%, transparent) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      color-mix(in srgb, var(--mantine-color-white) 6%, transparent) 1px,
      transparent 1px
    );
  background-size: 24px 24px;
  background-attachment: fixed;
}
