.infotable td {
  vertical-align: top;
  padding: 0;
  color: black !important;
}

.header {
  display: block;
  border: 1px solid black;
  padding: 0px;
}

.st_table {
  font-size: 13px;
  width: 100%;
  margin-top: -0.03in;
  border: none;
  border-collapse: collapse;
  color: black !important;
}

.st_table th {
  background: var(--mantine-color-gray-4);
}

.st_table th,
.st_table td {
  padding: 0;
}

.st_table th {
  padding: 0 0.1in;
}

.st_table td {
  border: 1px solid transparent;
  line-height: 18px;
  padding: 0 0.04in;
  text-transform: capitalize;
}

.pagenumber {
  font-weight: 600;
  font-family: "Arial";
  position: absolute;
  bottom: 0.5in;
  display: block;
  width: 100%;
  left: 0;
}

.headerRow {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
