.infotable td {
  vertical-align: top;
  padding: 0;
  color: black !important;
}

.header {
  display: block;
  border: 2px solid black;
  padding-top: 2px;
}

.st_table {
  font-size: 14px;
  width: 100%;
  margin-top: -0.03in;
  /* border: 1px solid; */
  border-collapse: collapse;
  color: black !important;
}

.st_table th {
}

.st_table th,
.st_table td {
  vertical-align: top;
  padding: 0;
  font-size: 13px;
}

.st_table th {
  padding: 0 0.04in;
  border: 1px solid black;
}

.st_table td {
  border: 1px solid black;
  line-height: 16px;
  padding: 0 0.03in;
  text-transform: capitalize;
  /* font-weight: 400; */
}

.pagenumber {
  font-weight: 600;
  font-family: "Arial";
  position: absolute;
  bottom: 0.5in;
  display: block;
  width: 100%;
  left: 0;
}

.container {
  min-height: 300px;
}
